$blue: #2A9D8F;
$yellow: #E9C46A;
$orange: #F4A261;
$gray: #b8c6db;
$darkBlack: #1b1b1b;
$pitchBlack: #131313;
$darkOrange: #E76F51;

// dark mode
$darkGray: #222229;
$darkBlue: #141416;
$black: #1d2020ee;
$YInMnBlue: #415A77;
$heighlightBlue: #80afe5;
$white: #faf3f3;