@import '../../Styles/variables';

.p-Skills {
    // min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(135deg, $darkGray 38%, $darkBlue ),
        linear-gradient(315deg, $darkBlack 10%, $black 74%);

    &.light {
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #faf3f3 74%)
    }

    text-align: center;

    .container {
        padding-left: 5%;
        padding-right: 5%;
        top: 20vh;
        transform: translateY(-10vh);
        line-height: 1.5;
        font-size: 18px;
        position: relative;
        margin: auto;

        .top-quote {
            height: 1vh;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: 300;
            opacity: .7;
        }

        .Skills-heading {
            // height: 7vh;
            display: flex;
            margin-bottom: 1.3rem;
            font-size: 3.5rem;
            font-weight: 500;
            .Skills-heading1{
                margin: auto;
            }
        }

        .skill-para-head {
            // height: 2vh;
            margin-bottom: 1rem;
        }

        .skill-para-content {
            // height: 12vh;
            margin-bottom: 1rem;
        }

        .linkedInPara {
            // height: 5vh;
            margin-bottom: 3rem;
            .linkedInLink{
                text-decoration: none;
                color: darken($color: $heighlightBlue, $amount: 15%);
                font-size: larger;
                font-weight: 500;
                transition: color 0.4s ease;
                &:hover{
                    color: $heighlightBlue;
                }
            }
        }

        @media only screen and (min-width: 850px) and (max-width:1330px) {
            padding-left: 0%;
            padding-right: 0%;
            // min-width: 90vw;
            line-height: 1.3;
            font-size: 18px;

            .top-quote {
                margin-bottom: 1rem;
                font-weight: 300;
                opacity: .7;
            }

            .Skills-heading {
                margin-bottom: 1.3rem;
            }

            .linkedInPara {
                margin-bottom: 4rem;
            }
        }
        @media screen and (max-height:650px){
            padding-left: 0%;
            padding-right: 0%;
            line-height: 1.2;
            font-size: 16px;

            .top-quote {
                margin-bottom: 1rem;
                font-weight: 300;
                opacity: .7;
            }

            .Skills-heading {
                margin-bottom: 1.1rem;
            }

            .linkedInPara {
                margin-bottom: 2rem;
            }
        }

        @media only screen and (min-width: 480px) and (max-width:850px) {
            padding-left: 0%;
            padding-right: 0%;
            min-width: 90%;
            line-height: 1.3;
            font-size: 14px;

            .top-quote {
                margin-bottom: 1rem;
            }

            .Skills-heading {
                margin-bottom: 1.3rem;
                font-size: 2rem;
                font-weight: 500;
            }

            .linkedInPara {
                margin-bottom: 2rem;
            }

        }

        @media only screen and (max-width:480px) {
            padding-left: 0%;
            padding-right: 0%;
            font-size: 10px;
            min-width: 90%;
            max-width: 90%;

            .top-quote {
                font-weight: 200;
            }

            .Skills-heading {
                font-size: 1.8rem;
                font-weight: 400;
            }

        }

    }

}