@import '../../Styles/variables';
.p-Skills{
    height: 100vh;
    overflow: hidden;
    padding: 0 50px;
     background-image: linear-gradient(135deg, $darkGray 38%, $darkBlue ),
        linear-gradient(315deg, $darkBlack 10%, $black 74%);
    &.light{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #faf3f3 74%)
    }
}