@import '../../Styles/variables';

.btn {
    background: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin:5px;
    min-height: 50px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
}
.primeryBtn {
    border: 2px solid $white;
    color: $white;
    &:hover {
        background-color: $white;
        color: $pitchBlack;
    }
    
    &.light {
    border: 2px solid $pitchBlack;
    color: $pitchBlack;
    &:hover {
        background-color: $pitchBlack;
        color: $white;
    }
    }

}

.secondaryBtn {
    border: 2px solid $YInMnBlue;
    color: $YInMnBlue;
    &:hover {
        background-color: $YInMnBlue;
        color: $white;
    }
    &.light {
        border: 2px solid $blue;
        color: $blue;
        &:hover {
            background-color: $blue;
            color:$gray;
        }
    }

}

.DangerBtn {
     border: 2px solid $orange;
    color: $orange;
    &:hover {
        background-color: $orange;
        color: $darkBlack;
    }
    &.light {
         border: 2px solid $darkOrange;
        color: $darkOrange;
        &:hover {
            background-color: $darkOrange;
            color: $pitchBlack;
        }
    }

}






