@import '../../Styles/variables';

.p-About{
        height: 100vh;
        overflow: hidden;
        padding: 0 50px;
          background-color:  $darkBlack;
          background-image: linear-gradient(135deg,$pitchBlack 38%,$darkBlack  ),
           linear-gradient(315deg, $black 18%, $pitchBlack 74%);
}