@import '../../Styles/variables';

.p-Home {
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 0 4rem;
    background-image: linear-gradient(135deg, $darkGray 38%, $darkBlue ),
        linear-gradient(315deg, $darkBlack 10%, $black 74%);

    &.light {
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #faf3f3 74%)
    }

    .logoBack {
        position: fixed;
        top: -14vh;
        left: 87vw;
        transform: translateX(87vw);
        z-index: -1;
        height: 130vh;
        transform: rotate(340deg);
    }

    .content-block {
        letter-spacing: 1.2px;
        margin-left: 5rem;
        position: relative;
        height: 70vh;
        top: 15%;
        transform: translateY(-15%);
        max-width: 580px;

        .home-heading {
            font-size: 3.5rem;
            font-weight: 500;
            flex-wrap: wrap;
        }
        .home-heading2{
            margin-bottom: 2.5rem;
        }

        .heading-para {
            line-height: 1.5;
            max-width: 520px;
            margin-bottom: 2.5rem;
        }

        .next-page {
            padding: 10px 0;
            cursor: pointer;
            color: darken($heighlightBlue, 20%);
            transition: color 0.3s ease;

            display: flex;

            div {
                margin-right: 7px;
            }

            svg {
                align-self: center;
                transition: transform 0.3s ease;
            }

            &:hover {
                color: $heighlightBlue;

                svg {
                    transform: rotate(-90deg);
                }
            }
        }

        @media only screen and (min-width: 480px) and (max-width:768px) {
            min-width: 580px;
            margin-left: 0;

            .home-heading {
                color: $yellow;
                font-size: 2.5rem;
                max-width: 440px;
            }

            .heading-para {
                line-height: 1.5;
                max-width: 410px;
            }
        }

        @media only screen and (max-width: 480px) {
            margin-left: 0;
            max-width: 310px;
            min-width: 310px;
            top: 20%;
            transform: translateY(-20%);
            left: 10%;
            transform: translateX(-10%);

            .home-heading {
                color: $yellow;
                font-size: 2rem;
                max-width: 181px;
            }

            .heading-para {
                line-height: 1.5;
                max-width: 520px;
            }
        }
    }
    .TimeLineblock{

    }

    @media only screen and (max-width: 480px) {
        padding: 0 2rem;
    }

}