@import './Styles/variables';

.white-theme {
  color: $black ;
  background-color: $gray;
  background-image: linear-gradient(315deg, $gray 0%, $white 74%);
}

.dark-theme {
  color: $white;
  background-color: $darkBlue;
  // background-image: linear-gradient(135deg, $darkGray 38%, $darkBlue ),
  // linear-gradient(315deg, $darkBlack 10%, $black 74%);
}

.c-app {
  .p-app {
    display: flex;

    .gitIcon {
      img {
        z-index: 1;
        position: fixed;
        width: 2.5rem;
        bottom: 2.5rem;
        left: 2.5rem;
      }
    }
  }

  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .page-content {
    transition: margin 0.3s ease-in-out;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

  }

  .page-content-collapsed {
    transition: margin 0.3s ease-in-out;
  }

  >.b-white {
    color: #131212;
  }
}