
.App {
  text-align: center;
}

.white-content {
  background: #e4e4e4;
}
.page-content {
  
  transition: margin 0.3s ease-in-out;
  padding-left: 2%;
}

.page-content-collapsed {
  margin-left: 0;
  transition: margin 0.3s ease-in-out;
}
