body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f0f8ff;
  background: linear-gradient(to bottom, #222229 99% , #141416),
              linear-gradient(to top,  #141416 99% , #222229); ; 

  // background-image: url('./Assets/night5-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  // overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}